[submodule "puppet/modules/aptcacher"]
	path = puppet/modules/aptcacher
	url = git@github.com:eirc/puppet-aptcacher.git
[submodule "puppet/modules/single_user_rvm"]
	path = puppet/modules/single_user_rvm
	url = git@github.com:eirc/puppet-single_user_rvm.git
